[submodule "ThirdParty/RtAudio"]
	path = ThirdParty/RtAudio
	url = https://github.com/thestk/rtaudio.git
[submodule "Core"]
	path = Core
	url = https://pierreguillot@github.com/KiwiMusic/KiwiCore.git
